@media (max-width: 84em) {
  .about--col {
    padding: 0 0;
  }

  section.my-works-section {
    max-width: 100%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero--nav {
    font-size: 10vmin;
  }

  .work {
    height: 30rem;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .certificates-section {
    max-width: 95%;
  }

  .form {
    width: 70%;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .work {
    height: 48rem;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .certificates-section {
    max-width: 75%;
  }

  .courses--content {
    grid-template-columns: max-content 1fr;
  }

  .certificate--icon-container {
    grid-area: 1;
  }

  .courses--content:nth-child(odd) .course {
    padding-left: 2rem;
    padding-bottom: 4rem;
  }

  .courses--content:nth-child(even) .course {
    grid-area: 1/2;
  }

  .education {
    display: block;
  }

  .full-container.footer-section {
    padding: 36rem 0 12.4rem;
  }

  div.chatting--section {
    flex-direction: column;
  }

  div.chatting--section div {
    width: 90%;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .chatting--p p {
    font-size: 2rem;
    line-height: 1.7;
  }

  .chatting--section button {
    font-size: 2rem;
  }

  .chatting--icon {
    font-size: 3rem;
  }

  .form {
    width: 80%;
  }

  .form label {
    font-size: 3rem;
  }

  .form div:last-child input {
    font-size: 2.4rem;
  }

  .footer .footer-content {
    gap: 2rem;
  }
  .footer .footer-content img {
    width: 25rem;
  }

  .footer h4 {
    font-size: 3.6rem;
  }

  .social-icon {
    font-size: 4rem;
  }

  .footer .footer-content p {
    font-size: 1.8rem;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 35%;
  }

  li,
  p {
    font-size: 1.8rem;
  }

  .work {
    height: 57rem;
  }

  .hero-logo {
    width: 70%;
  }

  .full-container.footer-section {
    padding: 48rem 0 12.4rem;
  }

  .work--tabs a {
    font-size: 1.9rem;
  }

  .finish--date {
    font-size: 1.8rem;
  }

  div.chatting--section div {
    width: 85%;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .chatting--p p {
    font-size: 2.4rem;
  }

  .chatting--section button {
    font-size: 2.4rem;
    padding: 2rem 2.8rem;
  }

  .form .fields {
    display: flex;
    flex-direction: column;
  }

  .footer .footer-content img {
    width: 30rem;
  }

  .footer h4 {
    font-size: 4rem;
  }

  .social-icon {
    font-size: 4.8rem;
  }

  .footer .footer-content p {
    font-size: 2rem;
  }
}

@media (max-width: 34em) {
  .web {
    display: none;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .hero--nav {
    text-align: center;
    font-size: 16vmin;
    /* display: none; */
  }

  .work {
    height: 45rem;
  }

  .mobile {
    display: block;
  }

  .hero-section {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 3.6rem;
  }

  .hero {
    grid-row: 2/3;
  }

  .label-hide {
    display: none;
  }

  .form {
    width: 95%;
  }
}

@media (max-width: 27em) {
  .hero-img {
    width: 60%;
  }

  .about {
    height: 24rem;
  }

  .about--content {
    margin-bottom: 0;
    line-height: 1.6;
    padding: 0;
    width: 90%;
  }

  .about-header {
    font-size: 2.6rem;
  }

  .about-txt {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .skills-section {
    padding: 0 4.8rem;
  }

  .content {
    flex-direction: column;
  }

  .skill {
    padding: 3.6rem 1.2rem;
  }

  .front--end {
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  section.my-works-section {
    max-width: 90%;
  }

  .work-grid {
    padding: 9.6rem 0;
  }

  .footer {
    width: 90%;
  }
}
