@media (max-width: 84em) {
  .about--col {
    padding: 0 0;
  }

  section.my-works-section {
    max-width: 80%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero--nav {
    font-size: 10vmin;
  }

  .work {
    height: 30rem;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .work {
    height: 48rem;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 35%;
  }

  .web {
    display: none;
  }

  .mobile{
    display: block;
  }
  .work {
    height: 57rem;
  }

  .hero-logo {
    width: 70%;
  }
}

@media (max-width: 34em) {
  .work-grid {
    grid-template-columns: 1fr;
  }

  .work {
    height: 45rem;
  }
}

@media (max-width: 27em) {
  .hero--nav {
    text-align: center;
    font-size: 16vmin;
    /* display: none; */
  }

  .hero {
    grid-row: 2/3;
  }

  .hero-section {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 3.6rem;
  }

  .label-hide {
    display: none;
  }

  .hero-img {
    width: 60%;
  }

  .about {
    height: 24rem;
  }

  .about--content {
    margin-bottom: 0;
    line-height: 1.6;
    padding: 0;
    width: 90%;
  }

  .about-header {
    font-size: 2.6rem;
  }

  .about-txt {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .skills-section {
    padding: 0 4.8rem;
  }

  .content {
    flex-direction: column;
  }

  .skill {
    padding: 3.6rem 1.2rem;
  }

  .front--end {
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  section.my-works-section {
    max-width: 90%;
  }

  .work-grid {
    padding: 9.6rem 0;
  }

  .footer {
    width: 90%;
  }
}
