* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Eurostile", sans-serif;

  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background: #141c3a;
}

.subtitle {
  font-family: "europa", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
}

.black-txt {
  color: #343a40;
}

.green-txt {
  color: #6741d9;
}

.white-txt {
  color: #fff;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  background: #6741d9;
  padding: 12.75rem 0;
}

/* ANIMATION */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Hero Section */
.hero-section {
  padding-top: 6.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 10rem;
}

/* Text */
.hero--nav {
  font-size: 9.6rem;
}

.hero {
  width: 65%;
}

.label {
  animation: fadeInUp 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.label-iam {
  animation-delay: 0.4s;
}

.label-yosif {
  animation-delay: 0.8s;
}

.hide--txt-block {
  display: none;
}

.hero-txt {
  font-family: sans-serif;
  text-align: left;
  line-height: 1.3;
}

a div {
  transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

a {
  text-decoration: none;
}

.hero--img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-img {
  width: 90%;
  display: block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
}

.dev--img {
  display: block;
  text-align: center;
  grid-column: 1 / -1;
}

/* About Section */

.about-section {
  margin-top: -4px;
}

.about--col {
  padding: 0 16.75rem;
  width: 60%;
}

.about {
  display: flex;
  justify-content: center;
}

.about--content {
  margin-bottom: 9.6rem;
  text-align: center;
  line-height: 3;
}

.about-header {
  font-size: 3rem;
  font-weight: 700;
}

/* Skills Section */
.skills {
  margin-top: -9.6rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 5px;
}

.content {
  display: flex;
  width: 100%;
  color: #000;
}

.skill {
  width: 100%;
  padding: 9.6rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.front--end {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.image {
  margin-bottom: 2.4rem;
}

.image img {
  width: 6.4rem;
}

.title {
  font-size: 2.4rem;
  margin: 2.4rem 0;
}

p,
li {
  font-family: "europaEuropaNuova-Bold", sans-serif;
  color: #555;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.txt-primary {
  margin-top: 4.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #6741d9;
}

li {
  color: #555;
  list-style: none;
  font-size: 1.6rem;
  line-height: 3.6rem;
}

/* My Works Section */
.work--content {
  padding-top: 12.75rem;
  text-align: center;
  line-height: 1.5;
}

.work--header {
  font-size: 3.6rem;
  font-weight: 1000;
  color: #000;
}

.work--txt {
  font-size: 2rem;
  color: #000;
}

.work--txt a {
  text-decoration: none;
  color: blue;
}

section.my-works-section {
  max-width: 75%;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 9.6rem 0;
  justify-items: center;
}

.work {
  width: 100%;
  height: 34rem;
  padding: 1.2rem;
}

.work--img-container {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.09);
  overflow: hidden;
}

.work-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.work-img--scale {
  overflow: hidden;
  transform: scale(1.2, 1.2);
}

.preview.hidden {
  opacity: 0;
}

div.preview {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #141c3a;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.45s ease-in-out;
  /* transform: translate(50%, -50%);  */
  /* animation-name: zoomIn;
   */
}

.preview--txt {
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  color: #fff;
}

.preview--view {
  display: flex;
}

.preview-link {
  text-align: center;
  display: block;
}

.preview--img {
  display: inline-block;
  width: 4.8rem;
  margin: 0 1rem;
  padding: 1rem;

  border: 2px solid #6e07f3;
  border-radius: 50%;
  transition: all 0.5s;
  /* opacity: 0.5; */
}

.preview--img:hover {
  background-color: #6e07f3;
}

/* FOOTER SECTION */
.footer {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.footer-content img {
  width: 20rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
}

.footer h4 {
  margin: 3.6rem 0;
  font-size: 2.8rem;
  font-weight: 200;
  color: #fff;
  opacity: 0.5;
}

.social-icon {
  font-size: 3.6rem;
  color: #fff;
  margin: 0 1.2rem;
  opacity: 0.5;
}

.social-icon:hover {
  opacity: 0.7;
}
