* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Eurostile", sans-serif;

  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background: #141c3a;
}

.subtitle {
  font-family: "europa", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
}

.black-txt {
  color: #343a40;
}

.green-txt {
  color: #6741d9;
}

.white-txt {
  color: #fff;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  background: #6741d9;
  padding: 12.75rem 0;
}

/* ANIMATION */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slightfadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeLeftRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeRightLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes circle {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Hero Section */
.hero-section {
  padding-top: 6.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 10rem;
}

/* Text */

.mobile {
  display: none;
}

.hero--nav {
  font-size: 12vmin;
}

.web-view {
  animation: fadeInUp 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation-fill-mode: backwards;
}

.mobile-view {
  animation: fadeInUp 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  display: inline-block;
  animation-fill-mode: backwards;
}

.click {
  text-align: center;
  padding-top: 9.6rem;
}

.click p {
  font-size: 2.4rem;
  animation: circle 1s cubic-bezier(0.5, 0.6, 0.6, 1) infinite alternate;
}

.label-iam {
  animation-delay: 0.4s;
}

.label-yosif {
  animation-delay: 0.8s;
}

.hide--txt-block {
  display: none;
}

.hero {
  font-family: sans-serif;
  text-align: left;
  line-height: 1.3;
}

a div {
  transition: all 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

a {
  text-decoration: none;
}

.hero--img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-img {
  width: 90%;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
}

.dev--img {
  display: block;
  text-align: center;
  grid-column: 1 / -1;
}

/* About Section */

.about-section {
  margin-top: -4px;
}

.about--col {
  padding: 0 16.75rem;
  width: 60%;
}

.about {
  display: flex;
  justify-content: center;
}

.about--content {
  margin-bottom: 9.6rem;
  text-align: center;
  line-height: 3;
}

.about-header {
  font-size: 3rem;
  font-weight: 700;
}

/* Skills Section */
.skills {
  margin-top: -12.6rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 5px;
}

.content {
  display: flex;
  width: 100%;
  color: #000;
}

.skill {
  width: 100%;
  padding: 9.6rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.front--end {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.image {
  margin-bottom: 2.4rem;
}

.image img {
  width: 6.4rem;
}

.title {
  font-size: 2.4rem;
  margin: 2.4rem 0;
}

p,
li {
  font-family: "europaEuropaNuova-Bold", sans-serif;
  color: #555;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.txt-primary {
  margin-top: 4.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #6741d9;
}

li {
  color: #555;
  list-style: none;
  font-size: 1.6rem;
  line-height: 3.6rem;
}

.resume--container {
  text-align: center;
}

.resume {
  margin-top: 6rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.4rem 1.8rem;
  border-radius: 2rem;
  background-color: #6741d9;
  color: #fff;
  box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.3);
  border: 0.3rem solid #6741d9;
  transition: background 0.5s;
}

.resume:hover {
  background-color: #fff;
  color: #555;
}

/* ==================My Works Section==================*/
.work--content {
  margin-top: 12.75rem;
  text-align: center;
  line-height: 1.5;
  color: #000;
}

.work--header {
  font-size: 3.6rem;
  font-weight: 1000;
}

.work--txt {
  font-size: 2.2rem;
}

.work--txt a {
  text-decoration: none;
  color: #6741d9;
}

section.my-works-section {
  max-width: 75%;
}

.work--tabs ul {
  margin: 4.8rem;
  display: flex;
  gap: 3.6rem;
  justify-content: center;
}

.work--tabs a {
  display: block;
  font-size: 1.8rem;
  background-color: #fff;
  border: none;
  color: #555;
  transition: all 0.5s;
  cursor: pointer;
}

.work--tabs .active {
  color: #6741d9;
  position: relative;
}

.work--tabs .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.05rem;
  background-color: #6741d9;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: fadeLeftRight 0.5s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work.hidden {
  display: none;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding:  4.8rem;
  justify-items: center;
}

.work {
  width: 100%;
  height: 31em;
  padding: 1.2rem;
  animation: slightfadeInUp 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work--img-container {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.09);
  overflow: hidden;
}

.work-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.work-img--scale {
  overflow: hidden;
  transform: scale(1.2, 1.2);
}

.preview.hidden {
  opacity: 0;
}

div.preview {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #141c3a;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.45s ease-in-out;
  /* transform: translate(50%, -50%);  */
  /* animation-name: zoomIn;
   */
}

.preview--txt {
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  color: #fff;
}

.preview--view {
  display: flex;
}

.preview-link {
  text-align: center;
  display: block;
}

.preview--img {
  display: inline-block;
  width: 4.8rem;
  margin: 0 1rem;
  padding: 1rem;

  border: 2px solid #6e07f3;
  border-radius: 50%;
  transition: all 0.5s;
  /* opacity: 0.5; */
}

.preview--img:hover {
  background-color: #6741d9;
}

/* ==================CERTIFICATES SECTION================== */
.certificates-section {
  max-width: 70%;
}

.education {
  margin: 4.8rem 0;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
}

.education > div {
  max-width: 95%;
}

.certificates--content {
  margin-top: 12.75rem;
  color: #000;
  text-align: center;
  line-height: 1.5;
}

.certificates--content h3 {
  font-size: 3.6rem;
  background-position: 4px bottom;
  background-size: 100%;
  text-decoration: none;
}

.certificates--content div {
  font-size: 2.2rem;
}

.courses--content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  color: #444;
  line-height: 2;
  padding-bottom: 4rem;
}

.courses--content:nth-child(odd) .course {
  text-align: right;
  padding-right: 2rem;
}

.courses--content:nth-child(even) .course {
  grid-area: 1/3;
  padding-left: 2rem;
}

.certificate--icon-container {
  grid-area: 1/2;
}

.certificate--icon {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #6e07f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate--icon-container::after {
  content: "";
  margin: auto;
  display: block;
  height: 100%;
  width: 1px;
  background-color: #6741d9;
}

.certificate--icon img {
  width: 1.8rem;
}

.certificate--header {
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #6e07f3;
}

.finish--date {
  font-size: 1.4rem;
}

.courses--content:nth-child(odd) .course .courses--list li {
  margin-right: 3rem;
}

.courses--content:nth-child(even) .course .courses--list li {
  margin-left: 3rem;
}

.courses--list a {
  margin-left: 1rem;
  color: #555;
  padding-bottom: .2rem;
  transition: all 0.5s;
}

.courses--list a:hover {
  color: #6741d9;
  border-bottom: 1px solid #6741d9;
}

/* ==================Chatting SECTION================== */
.quotes--section {
  border-top: 0.2rem solid #f8f9fa;
  padding: 12.75rem 0 18rem;
  position: relative;
  color: #000;
  font-size: 2.2rem;
  line-height: 1.5;
}

.quotes--content h3 {
  font-size: 3.6rem;
}

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.8rem;
}

.quote {
  width: 50%;
}

.quote-1 {
  animation: fadeLeftRight 0.5s;
}

.quote-2 {
  animation: fadeRightLeft 0.5s;
}

.quote-hidden {
  display: none;
}

.quote p {
  margin-bottom: 3.6rem;
  line-height: 1.5;
  color: #141c3a;
}

.quote p:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}

.quote p:nth-child(2) {
  font-size: 1.8rem;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dots .dot {
  font-size: 1.2rem;
  color: #ccc;
  cursor: pointer;
  transition: all 0.5s;
}

.dots .dot.active--dot {
  color: #6741d9;
  opacity: 1;
}

/* ==================Chatting SECTION================== */

div.chatting--section {
  width: 85%;
  font-size: 2rem;
  line-height: 2;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141c3a;
  border-radius: 1rem;
  padding: 4.8rem 2.4rem;
  position: absolute;
  top: -8.9rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  gap: 1.2rem;
}

.chatting--section div {
  color: #fff;
  width: 45%;
}

.chatting--p p {
  color: #fff;
}

.chatting--section button {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.4rem 1.8rem;
  background-color: #141c3a;
  border-radius: 2.4rem;
  border: 0.3rem solid #6741d9;
  transition: all 0.5s;
}

.chatting--section button:hover {
  background-color: #6741d9;
  color: #000;
}

.chatting--icon {
  font-size: 2rem;
}

/* ==================fOOTER SECTION================== */
.full-container.footer-section {
  padding: 19.6rem 0 3.6rem;
  position: relative;
}

.footer {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.footer .footer-content h4,
.footer .footer-content p,
.footer-content .social-icon {
  color: #ddd;
}
.footer .footer-content {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
}
.footer .footer-content img {
  opacity: 1;
  width: 20rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.footer .footer-content a {
  display: inline-block;
}

.footer h4 {
  margin: 3.6rem 0;
  font-size: 2.8rem;
  font-weight: 200;
}

.footer .footer-content p {
  margin-top: 2.4rem;
  font-size: 1.6rem;
}

.social-icon {
  font-size: 3.6rem;
  margin: 0 1.2rem;
  transition: all 0.5s;
}

.social-icon:hover {
  opacity: 0.8;
}

/* ==================FORM SECTION================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  z-index: 5;
}

.form {
  width: 45%;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  padding: 4.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
  z-index: 10;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 2rem;
}

.form .fields-none {
  display: none !important;
}

.form .fields div:nth-child(1) {
  text-align: right;
}

.form .fields div:nth-child(1) button {
  background-color: #fff;
  border: none;
  color: #6741d9;
  padding: 0.2rem;
  font-size: 2.4rem;
  margin-left: 2.4rem;
}

.form .fields div:nth-child(1) button:last-child {
  font-size: 2.5rem;
}

.form label {
  position: relative;
  font-size: 2rem;
  color: #555;
  display: block;
  padding-bottom: 1rem;
}

.form input,
textarea,
.form input,
.form input:focus {
  width: 100%;
  background-color: #fff;
  padding: 1.3rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.8rem;
  color: #343a40;
}

textarea {
  resize: vertical;
}

.form .fields div:last-child,
.form .fields div:nth-child(1),
.form .fields div:nth-child(4),
.form .fields div:nth-child(5) {
  grid-column: 1 / span 2;
}

input {
  height: 4.6rem;
}

.txt-center {
  text-align: center;
}

.form .fields div:last-child input {
  width: 30%;
  height: auto;
  color: #6741d9;
  border-color: #6741d9;
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 0.5s;
}

.form .fields div:last-child input:hover {
  background-color: #6741d9;
  color: #fff;
}

button {
  cursor: pointer;
}

.hidden-form {
  visibility: hidden;
  opacity: 0;
  bottom: -100%;
}

.succeed-message {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  color: #333;
}

.succeed-message img {
  width: 12.4rem;
}

.succeed-message h2 {
  font-size: 3.6rem;
}

.succeed-message p {
  font-size: 2rem;
}

.succeed-message button {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  padding: 1.4rem 3.2rem;
  font-weight: 600;
  color: #444;
  border: 0.3rem solid #6741d9;
  border-radius: 2.4rem;
  background-color: #fff;
  transition: all 0.5s;
}

.succeed-message button:hover {
  background-color: #6741d9;
  color: #fff;
}
